extends ../backend

block content
    h1 Payments
    //p
        a(class="btn btn-success" href="/admin/clients/create") Create Client
    p
        a(class="btn btn-success" href="/admin/payments/csv") Export
    table(class="table table-striped table-bordered")
        thead
            tr
                th #
                th gameID
                th Expire
                //th Ban
                //th.action-column &nbsp;
            tr.filters
                td &nbsp;
                //td
                    input(type="text" class="form-control" name="search_client" onkeypress="searchClient(event, this)" value=searchID)
                td &nbsp;
                td &nbsp;
                //td &nbsp;
                //td &nbsp;
        tbody
            - var payments = data;
            for payment in payments
                tr
                    td=payment.num
                    td=payment.gameID
                    td #{payment.expire.toUTCString()}
                    //td=payment.expire
                    //td=client.ban
                    //td
                        a(href="/admin/clients/edit/" + client.id)
                            span(class="glyphicon glyphicon-pencil") &nbsp;
                        a(onclick="delClient('" + client.id + "')")
                             span(class="glyphicon glyphicon-trash")

    script(type='text/javascript' src='/js/backend.js')




