doctype
html(lang="ru")
head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title='intro'
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')

body
    div(class="conteiner")
        h1= 'Intro'
        p= intro

script(type='text/javascript' src='/js/jquery-3.1.1.min.js')
script(type='text/javascript' src='/js/bootstrap.js')
