extends ../backend

block content
    h1 Create User
    - if(err)
        div(class="alert alert-danger")
            strong=err

    form(action="/admin/users/create" method="POST")
        div(class="form-group")
            label(class="control-label" for="username") Username
            input(type="text" id="username" class="form-control" name="username" required)
        div(class="form-group")
            label(class="control-label" for="password") Password
            input(type="password" id="password" class="form-control" name="password" required)
        div.form-group
            button(type="submit" class="btn btn-primary" name="button") Create