extends ../backend

block content
    h1= 'Edit ' + user.username
    - if(err)
        div(class="alert alert-danger")
            strong=err

    form(action="/admin/users/edit" method="POST")
        //input(type="hidden" name="_method" value="put")
        input(type="hidden" name="userID" value=user.id)
        div(class="form-group")
            label(class="control-label" for="username") Username
            input(type="text" id="username" class="form-control" name="username" required value=user.username)
        div(class="form-group")
            label(class="control-label" for="password") Password
            input(type="password" id="password" class="form-control" name="password" required)
        div.form-group
            button(type="submit" class="btn btn-primary" name="button") Edit