extends ../backend

block content
    h1 Users
    p
        a(class="btn btn-success" href="/admin/users/create") Create User
    table(class="table table-striped table-bordered")
        thead
            tr
                th #
                th Username
                th Created
                th.action-column &nbsp;
            tr.filters
                td &nbsp;
                td
                    input(type="text" class="form-control" name="search_username")
                td &nbsp;
                td &nbsp;
        tbody
            - var users = data;
            for user in users
                tr
                    td
                    td=user.username
                    td=user.created
                    td
                        a(href="/admin/users/edit/" + user.id)
                            span(class="glyphicon glyphicon-pencil") &nbsp;
                        a(onclick="delUser('" + user.id + "')")
                             span(class="glyphicon glyphicon-trash")

    script(type='text/javascript' src='/js/backend.js')




